.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

.dietaryPlansContainer {
  background-color: steelblue;
  color: white;
  padding: 20px;
  border-radius: 5px;

  h2 {
    font-size: 2rem; /* adjust the font size as needed */
    font-weight: bold;
    margin-bottom: 1rem; /* add some space below the heading */
  }
}
