
.forgotPassword {
    margin: 20px auto;
    padding: 40px 50px;
    max-width: 300px;
    border-radius: 5px;
    background: steelblue;
    color: white;
}

.forgotPassword input {
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin: 10px 0;
    padding: 14px 12px;
    font-size: 16px;
    border-radius: 2px; 
}

.forgotPassword input[type=text]{
    border: 3px solid rgb(133, 168, 215);
    transition: .2s;
    background-color: white;
    color: grey;
}

.forgotPassword input[type=text] {
    margin-bottom: 0; 
}

.forgotPassword input[type=text]:hover {
    border-color: lightgray;
    outline: none;
    transition: all .2s ease-in-out;
} 

.forgotPassword input[type=submit] {
    border: none;
    background: rgb(133, 168, 215);
    color: white;
    font-weight: bold;  
    transition: 0.2s;
    margin: 20px 0px;
    text-align: center;
}

.forgotPassword input[type=submit]:hover {
    background: rgba(133, 169, 215, 0.733);
}

.forgotPassword h2 {
    margin: 20px 0 0; 
    color: white;
    font-size: 28px;
}

.forgotPassword p {
    margin-bottom: 40px;
}

.links {
    display: table;
    width: 100%;  
    box-sizing: border-box;
    border-top: 1px solid #c0c0c0;
    margin-bottom: 10px;
}

.links a {
    display: table-cell;
    padding-top: 10px;
}

.links a:first-child {
    text-align: left;
}

.links a:last-child {
    text-align: right;  
}

.forgotPassword h2,
.forgotPassword p,
.forgotPassword a {
    text-align: center;    
}

.forgotPassword a {
    text-decoration: none;  
    font-size: .8em;
}

.forgotPassword a:visited {
    color: inherit;
}

.forgotPassword a:hover {
    text-decoration: underline;
}
.forgotPassword {
    margin: 20px auto;
    padding: 40px 50px;
    max-width: 300px;
    border-radius: 5px;
    background: steelblue;
    color: white;
}

.forgotPassword input {
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin: 10px 0;
    padding: 14px 12px;
    font-size: 16px;
    border-radius: 2px; 
}

.forgotPassword input[type=text] {
    border: 3px solid rgb(133, 168, 215);
    transition: .2s;
    background-color: white;
    color: grey;
}

.forgotPassword input[type=text] {
    margin-bottom: 0; 
}

.forgotPassword input[type=text]:hover {
    border-color: lightgray;
    outline: none;
    transition: all .2s ease-in-out;
} 

.forgotPassword input[type=submit] {
    border: none;
    background: rgb(133, 168, 215);
    color: white;
    font-weight: bold;  
    transition: 0.2s;
    margin: 20px 0px;
    text-align: center;
}

.forgotPassword input[type=submit]:hover {
    background: rgba(133, 169, 215, 0.733);
}

.forgotPassword h2 {
    margin: 20px 0 0; 
    color: white;
    font-size: 28px;
}

.forgotPassword p {
    margin-bottom: 40px;
}

.links {
    display: table;
    width: 100%;  
    box-sizing: border-box;
    border-top: 1px solid #c0c0c0;
    margin-bottom: 10px;
}

.links a {
    display: table-cell;
    padding-top: 10px;
}

.links a:first-child {
    text-align: left;
}

.forgotPassword h2,
.forgotPassword p,
.forgotPassword a {
    text-align: center;    
}

.forgotPassword a {
    text-decoration: none;  
    font-size: .8em;
}

.forgotPassword a:visited {
    color: inherit;
}

.forgotPassword a:hover {
    text-decoration: underline;
}