.passwordContainer {
  position: relative;
}
  
.togglePassword {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-40%);
  color: lightblue;
}

.icon {
  width: 1.35rem;
  height: 1.35rem;
  margin-right: 0.5rem;
}